<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.tcd.yaatra">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <dist:module dist:instant="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Yaatra"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.fragments.CreateDailyCommuteFragment"></activity>
        <activity android:name=".ui.fragments.DailyFragment"></activity>
        <activity android:name=".ui.activities.LoginActivity"
            android:label="Yaatra Login"/>
        <activity android:name=".ui.activities.PeerToPeerActivity"
            android:label="Ad-Hoc Commute Locate Peers"/>
        <activity android:name=".ui.activities.MapFragment"/>
        <activity android:name=".ui.activities.RouteInfo"
            android:label="Route Information"/>
        <activity android:name=".ui.activities.DailyCommuteMapFragment"/>
        <activity android:name=".ui.activities.UserRatingActivity"
            android:label="Rating"/>
        <activity
            android:name=".ui.activities.MenuContainerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.LaunchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Yaatra">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.RegisterActivity"
            android:label="Yaatra Registration"/>
    </application>

</manifest>